/* styles for the cities component */
body {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

h1 {
    color: #FF0004;
}

h2, p {
    color: #49a2cc;
}



.cityRow {
    background: green;
}

.forecast-icon {
    margin: 5px;
    width: 60px;
    height: 60px;
}

.table>thead>tr>th {
	text-align: center;
    font-size: 17px;
    color: #e29c2c;
    border: solid 2px;
    border-color: #e29c2c;
}

.table>tbody>tr>td {
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    color: #FFFFFF;
    border: solid 2px;
    border-color: #e29c2c;
}

.forecast-info-main {
    /*font-size: 50px;*/
    background-color: #c4b193;
}

.forecast-info-main a {
    color: #FFF;
}