/* styles for the citiy component */
body {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

h1 {
    color: #FF0004;
}

h2 {
    color: #49a2cc;
}

p {
    color: #F53D40;
}

.forecast-icon {
    
}

.table>thead>tr>th {
    font-size: 17px;
    color: #e29c2c;
    border: solid 2px;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.forecast-info {
    text-align: center;
    color: #FFF;
    font-size: 15px;
}

.forecast-0 {
    background-color: #c4b193;
}

.forecast-1 {
    background-color: #c4b193;
}

.forecast-2 {
    background-color: #c4b193;
}

.forecast-3 {
    background-color: #c4b193;
}

.forecast-4 {
    background-color: #c4b193;
}

.forecast-5 {
    background-color: #c4b193;
}