<body>

<!-- Template for the city component -->
<div style="text-align:center">
  <h1>
    City forecast in the next hours
  </h1>
  <p>Extended forecast for every 3 hours in the next 5 days</p>
</div>
<div id="map">
  
</div>
<div id="cityCont" class="container">
<div style="text-align:left">
    <h2 *ngIf="dataCity.city">
      <img src="https://openweathermap.org/img/w/{{dataCity.list[0].weather[0].icon}}.png" class="forecast-icon" alt="forecast">
      {{dataCity.list[0].weather[0].description}} in Cyberjaya, {{dataCity.city.country}}
	      <button (click)="goBack()" class="btn btn-primary">GoBack</button>
    </h2>  
</div>  
    <div>
      <table class="table">
        <thead>
          <tr>
            <th style="text-align:center">At (date-time)</th>
            <th style="text-align:center">Temperature min/max (C)</th>
            <th style="text-align:center">Pressure</th>
            <th style="text-align:center">Humidity</th>
            <th style="text-align:center">Forecast</th>
            <th style="text-align:center">Description</th>
            <th style="text-align:center">Wind speed (m/s)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cityForecast of dataCity.list">
            <td class="forecast-info forecast-0">{{cityForecast.dt_txt}}</td>
            <td class="forecast-info forecast-1">{{cityForecast.main.temp_min}} / {{cityForecast.main.temp_max}}</td>
            <td class="forecast-info forecast-2">{{cityForecast.main.pressure}}</td>
            <td class="forecast-info forecast-3">{{cityForecast.main.humidity}}</td>
            <td class="forecast-info forecast-4" style="text-align:center"><img src="https://openweathermap.org/img/w/{{cityForecast.weather[0].icon}}.png" class="forecast-icon" alt="forecast"></td>
            <td class="forecast-info forecast-4" style="text-align:center">{{cityForecast.weather[0].description}}</td>
            <td class="forecast-info forecast-5">{{cityForecast.wind.speed}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

</body>